@use "styles/vars";

body {
  margin: 2em 4em;
}


.App {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  &-header, &-form {
    border-bottom: 1px solid vars.$color-gray;
    margin-bottom: vars.$space-std;
  }
  &-form {
    padding-bottom: vars.$space-std;
  }

}

.parsedImage {
  width: 100px;
  height: auto;
}

.parsedKey {
  font-weight: bold;
}

li {
  margin-top: 20px;
}

.input {
  margin-top: 20px;
}

.results-container {
  display: flex;
}

.results-sidebar {
  width: 30%;
  margin-right: 5%;

  a {
    color: crimson;
    cursor: pointer;
  }
  
}